body{
	background: #cccccc;
	text-align: center;
}

h1 {
	color: darkblue;
}
p  {
	
}

#missao{
	font-size: 20px;
}
/* aplicando css em uma estrutura especifica , dentro de em : dentro de strong  */
em strong{
	color:red;
}